.container{
    width: 100%;
    height: 100vh;
    background-color: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: rgb(39, 32, 58);
    padding: 25px;
    border-radius: 15px;
    

}
.but{
   background-color: transparent;
   color: white;
   width: 60px;
   height: 60px;
   margin:5px;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
}
.calculator{
    display: flex;
    justify-content: flex-end;
    margin:20px 0;
}
.calculator input{
    flex: 1;
    box-shadow: none;
    text-align: right;
    font-size: 20px;
}